extends ../layout

block content
    h1= title
    table.user_table
        tr
            th First Name
            th Last Name
            th Email
            th Username
            th Car
            th Car details (Year, Color, Engine)
            th Delete
        if user_list && user_list.length > 0
            each user in user_list
                tr
                    td #{user.first_name}
                    td #{user.last_name}
                    td #{user.email}
                    td #{user.username}
                    td #{user.car.manufacturer} - #{user.car.model}
                    td #{user.car.year}, #{user.car.color}, #{user.car.engine}
                    td.center
                        if(userid !== user.id)
                            a(href="/users/delete?id=#{user.id}")
                                img.icon(src="/images/delete.png")
                        else
                            a(href="/users/deleteself?id=#{user.id}")
                                img.icon(src="/images/deleteself.png")
        else
            tr
                td(colspan=6) No records